@font-face{
  font-family: 'Amiri-Bold';
  src: url('../fonts/Amiri-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'Amiri-Regular';
  src: url('../fonts/Amiri-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'FuturaStd-Light';
  src: url('../fonts/FuturaStd-Light.otf') format('opentype');
}

@font-face{
  font-family: 'SourceHanSerif';
  src: url('../fonts/SourceHanSerif-Regular.otf') format('opentype');
}
