$flame-height: 18px;
$orange: #ff6a00;
$orange-yellow: #ff9224;
$dark: #2c2b39;
$blue-dark: #30537d;
$blue-light: #76daff;
$yellow: #fbf348;
$yellow-grey: #58523a;

.candle{
  width: 15px;
  margin: 30px auto 0 auto;
  position: relative;
  height: 80%;
  align-self: flex-end;
  animation: blink .1s infinite;
}
.flame{
  width: 10px;
  height: $flame-height;
  margin: 0px auto;
  position: relative;
  animation: move 3s infinite, move-left 3s infinite;
  transform-origin: 50% 90%;
  .top{
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border-top-left-radius: 10000%;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 10000%;
    border-bottom-right-radius: 1000px;
    transform: skewY(-10deg);
    box-shadow:
      0 0px 0px 3px white,
      0 -20px 1px 4px white,
      0 -25px 0px 3px gold,
      0 -27px 3px 4px #ff6a00,
      0 0px 150px 10px #ff6a00,
      0 -10px 2px 4px white,
      0 -5px 3px 3px white;
  }
}
  .shadows{
    position: absolute;
    left: 22%;
    top: -15%;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow:
      0 5px 20px 15px gold,
      0 0px 100px 20px $orange,
      0 15px 50px 15px $orange,
      5px 30px 5px 13px $orange,
      5px 50px 5px 13px $orange,
      0 75px 50px 30px black;
  }
  .bottom{
    transform: scale(0.9);
    position: absolute;
    bottom: 10px;
    left: -1px;
    width: 1px;
    height: 1px;
    border-bottom-right-radius: 1000%;
    border-bottom-left-radius: 1000%;
    background: #FFA500;
    box-shadow:
      3px 10px 7px 4px #FFA500,
      3px 10px px 5px #FFA500,
      3px -3px 11px 4px gold,
      2px 12px 6px 7px #005DFF,
      1px 1px 35px 15px #FFA500;
  }

.wax{
  position: relative;
  top: 15px;
  width: 100%;
  height: 100%;
  background: $orange-yellow;
  background: -moz-linear-gradient(top, $orange-yellow 0px, $orange-yellow 20px, $yellow-grey 50px); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $orange-yellow 0px, $orange-yellow 20px, $yellow-grey 50px); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $orange-yellow 0px, $orange-yellow 20px, $yellow-grey 50px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9224', endColorstr='#58523a',GradientType=0 ); /* IE6-9 */

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow:
    inset 0 7px 12px -2px $yellow,
    inset 0 9px 57px -3px rgba(255,0,0,0.4),
    inset 0 -5px 8px 2px black,
    0 0 3px 0px $orange;
}

@keyframes move{
  0%{ transform: skewX(2deg) skewY(5deg)}
  50%{ transform: skewX(-2deg) skewY(-0deg)}
  100%{ transform: skewX(2deg) skewY(5deg)}
}

@keyframes move-left{
  50%{transform: skewX(3deg);}
}
@keyframes flame-up{
  50% { box-shadow:
      0 0px 0px 3px white,
      0 -38px 1px 2px white,
      0 -41px 2px 3px gold,
      0 -50px 5px 4px $orange,  //orange top
      0 0px 150px 10px $orange, //orange global
      0 -10px 2px 4px white,
      0 -5px 3px 3px white;
  }
}
@keyframes blink{
  50% {opacity: 0.95;}
}
